<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../images/images.css">
    <title>Netra UI | Images</title>
</head>
<body>
    <header class="nav-container">
        <div class="branding">
           <a href="index.html"><img class="brand_image"src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png" alt="brand-image"></a> 
            <span class="brand_name">NETRA UI</span>
        </div>
        <nav class="navbar">
            <ul class="nav-items">
                <!-- <li><a href="">Home</a></li> -->
                <li class="list-items item-1"><a href="" class="doc">Documentation</a></li>
                <li class="list-items item-2"><a href=""><i class="fab fa-github github-icon"></i></a></li>
            </ul>
        </nav>
    </header>
    <section class="wrapper">
        <aside class="sidebar-container">
            <div class="sidebar">
                <p class="sidebar-title">component list</p>
            <ul class="sidebar-items">
                <li class="list-item"><a href="alerts.html">Alerts</a></li>
                <li class="list-item"><a href="avatar.html">Avatars</a></li>
                <li class="list-item"><a href="badges.html">Badges</a></li>
                <li class="list-item"><a href="button.html">Buttons</a></li>
                <li class="list-item"><a href="cards.html">Cards</a></li>
                <li class="list-item"><a href="images.html">Image</a></li>
                <li class="list-item"><a href="">Inputs</a></li>
                <li class="list-item"><a href="">Lists</a></li>
                <li class="list-item"><a href="">Navigation</a></li>
                <li class="list-item"><a href="">Slider</a></li>
                <li class="list-item"><a href="">Toast</a></li>
               
            </ul>
            </div>
            
        </aside>

        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Images</span> 
                </div>
                <div class="about-component">
                    <p class="about">Buttons are the most common and most important part of a web app that allows you to navigate from one page to another, perform certain actions etc.</p>
                </div>
            </div>
           
            <div class="type-wrapper">
                <div class="component-type">
                    <span class="type-title"> Responsive Image</span>
                </div> 
                <div class="about-type">
                    <p class="about">Primary Button are available in 5 varients - solid button, outline button, icon button, solid + icon button and link button. </p> 
                </div>
                <img class="code-Ss" src="../../images/responsive-image-code.png" alt="code-shot">
            </div>
            <div class="types-container">
                <img class="responsive-image" src="../../images/responsive-image.png" alt="image">
                


            </div>

            <div class="type-wrapper btn-wrapper">
                <div class="component-type">
                    <span class="type-title"> Round Image</span>
                </div> 
                <!-- <div class="about-type">
                    <p class="about">There are multiple sizes for square avatars as well. </p> 
                </div> -->
                <img class="code-Ss"src="../../images/round-image-code.png" alt="code-shot">
            </div>
            <div class="types-container">
                <img class="responsive-image round-image" src="../../images/responsive-image.png" alt="">
            </div>
</body>
</html>