<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../badges/badges.css">
    <title>Netra UI | Badges</title>
</head>
<body>
    <header class="nav-container">
        <div class="branding">
           <a href="index.html"><img class="brand_image"src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png" alt="brand-image"></a> 
            <span class="brand_name">NETRA UI</span>
        </div>
        <nav class="navbar">
            <ul class="nav-items">
                <!-- <li><a href="">Home</a></li> -->
                <li class="list-items item-1"><a href="/components/alert/alerts.html" class="doc">Documentation</a></li>
                <li class="list-items item-2"><a href="https://github.com/Samarth-5109/Component-library-netra"><i class="fab fa-github github-icon"></i></a></li>
            </ul>
        </nav>
    </header>
    <section class="wrapper">
        <aside class="sidebar-container">
            <div class="sidebar">
                <p class="sidebar-title">component list</p>
            <ul class="sidebar-items">
                <li class="list-item"><a href="/components/alert/alerts.html">Alerts</a></li>
                <li class="list-item"><a href="/components/avatar/avatar.html">Avatars</a></li>
                <li class="list-item"><a href="/components/badges/badges.html">Badges</a></li>
                <li class="list-item"><a href="/components/buttons/button.html">Buttons</a></li>
                <li class="list-item"><a href="/components/cards/cards.html">Cards</a></li>
                <li class="list-item"><a href="/components/images/images.html">Image</a></li>
                <li class="list-item"><a href="/components/inputs/inputs.html">Inputs</a></li>
                <li class="list-item"><a href="">Modal</a></li>
                <li class="list-item"><a href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="list-item"><a href="/components/snackbar/snackbar.html">Snackbar</a></li>
               
            </ul>
            </div>
            
        </aside>
    
        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Badges</span> 
                </div>
                <div class="about-component">
                    <p class="about">Badges are used to show the active/inactive, online/offline status of users by using dots of some specific colors on their images.</p>
                </div>
            </div>
           
            <div class="type-wrapper">
                <div class="component-type">
                    <span class="type-title"> Badges on Avatars</span>
                </div> 
                <div class="about-type">
                    <!-- <p class="about">Rounded image avatars are mostly xl,lg,sm,xs-avatared a profile pic in many social media..</p>  -->
                </div>
                <img src="../../images/badgeOnAvatar.png" alt="code-shot">
            </div>
            <div class="types-container type-badge-container">
                <div class="badge-container">
                    <img class="round-avatar xl-avatar" src="../../images/avatar.png" alt="xl-avatar">
                    <div class="badge"></div>
                </div>
                <div class="badge-container">
                    <img class="round-avatar lg-avatar" src="../../images/avatar.png" alt="lg-avatar">
                    <div class="badge red-badge-lg"></div>
                </div>
                <div class="badge-container">
                    <img class="round-avatar sm-avatar" src="../../images/avatar.png" alt="sm-avatar">
                    <div class="badge green-badge-sm"></div>
                </div>
                <div class="badge-container">
                    <img class="round-avatar xs-avatar" src="../../images/avatar.png" alt="xs-avatar">
                    <div class="badge red-badge-xs"></div>
                </div>
                
            </div>

            <div class="type-wrapper type-wrapper-icons">
                <div class="component-type">
                    <span class="type-title"> Badges on Icons</span>
                </div> 
                <div class="about-type">
                    <p class="about">Number badge on icon are mainly used to display count of a specific entity.</p> 
                    <img src="../../images/badgesOnIcon.png" alt="">
                </div>

                <div class="types-container icon-badge-container">
                    <div class="badges-on-icon-container">
                        <i class="fas fa-shopping-cart icon"></i>
                        <span class="notification nfn-cart">4</span>
                        <i class="fas fa-bell icon"></i>
                        <span class="notification nfn-bell">4</span>
                        <i class="fas fa-envelope icon"></i>
                        <span class="notification nfn-envelope">4</span>
                    </div>
                </div>
            

</body>
</html>