@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&family=Shippori+Antique&display=swap');


:root{
    --primary-color:#456568;
    --secondary-color:whitesmoke;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.nav-container{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.branding{
    display: flex;
    align-items: center;
    /* gap:1rem; */
    margin-left: 2rem;
    padding: 1rem;
    
}
.brand_image{
    width: 3.5rem;
    height: 3.5rem;
}

.brand_name{
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
}
.navbar{
    margin-left: auto;
}

.nav-items{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.item-1{
    margin-right: 3rem;
}

.doc{
    color: var(--secondary-color);
}

.github-icon{
    color: var(--secondary-color);
    font-size: 2rem;
}

/* SIDE-BAR */
.wrapper{
    display: flex;
    
}
.sidebar-container{ 
    width:25%;
    color:#393E46;
}

.sidebar-title{
    font-size: 1.3rem;     
    margin:1.5rem;
    text-transform: uppercase;
}

.sidebar-items{
    padding-left: 2rem;
}

.sidebar-items .list-item{
    padding-bottom: 1.3rem;
}



.title-wrapper .title{
    font-size: 2.5rem;
    
}

.about{
    margin-top:0.8rem;
    margin-bottom: 1.5rem;
}

.type-title{
    font-size: 1.6rem;
}

.main-container{
    margin:1.5rem;
}
.types-container{
   
  /* display: flex; */
}

.code-Ss{
    margin-bottom: 2rem;
}

/* FOR BUTTON */

.btn-wrapper{
    margin-top: 3rem;
}


.btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px;
    border-radius: 5px;
    margin:1rem;
}

.btn-outline{
    background-color: transparent;
    color:var(--primary-color);
    border:2px solid var(--primary-color);
}
.btn-secondary{
    background-color:#D1D1D1;
    color: var(--primary-color);
}

.btn-with-icon{
    margin-right: 10px;
}

.btn-icon{
    padding: 0;
    border-radius: 0;
}

.btn-link{
    background-color: transparent;
    color:var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
}

/* FLOAT BUTTON */

.float-btn{
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    color: var(--secondary-color);
    margin-right: 2rem;
}

.secondary-flt{
    background-color: #d1d1d1;
    color:var(--primary-color);
}

