@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&family=Shippori+Antique&display=swap");
@import url("../../styles/doc.css");

.model-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background-color: #eef2ff;
}

.model-details {
  padding: 1rem;
}

.model-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.response-btn {
  padding: 10px;
  margin-left: auto;
}
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  border: transparent;
}

.close-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
