<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../model/modal.css">
    <title>Netra UI | Model</title>
</head>
<body>
    <header class="nav-container">
        <div class="branding">
           <a href="index.html"><img class="brand_image"src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png" alt="brand-image"></a> 
            <span class="brand_name">NETRA UI</span>
        </div>
        <nav class="navbar">
            <ul class="nav-items">
                <!-- <li><a href="">Home</a></li> -->
                <li class="list-items item-1"><a href="" class="doc">Documentation</a></li>
                <li class="list-items item-2"><a href=""><i class="fab fa-github github-icon"></i></a></li>
            </ul>
        </nav>
    </header>
    <section class="wrapper">
        <aside class="sidebar-container">
            <div class="sidebar">
                <p class="sidebar-title">component list</p>
            <ul class="sidebar-items">
                <li class="list-item"><a href="alerts.html">Alerts</a></li>
            <li class="list-item">
              <a href="/components/avatar/avatar.html">Avatars</a>
            </li>
            <li class="list-item">
              <a href="/components/badges/badges.html">Badges</a>
            </li>
            <li class="list-item">
              <a href="/components/buttons/button.html">Buttons</a>
            </li>
            <li class="list-item">
              <a href="/components/cards/cards.html">Cards</a>
            </li>
            <li class="list-item">
              <a href="/components/images/images.html">Image</a>
            </li>
            <li class="list-item">
              <a href="/components/inputs/inputs.html">Inputs</a>
            </li>
            <li class="list-item">
              <a href="/components/model/modal.html">Modal</a>
            </li>
            <li class="list-item">
              <a href="/components/navigation/navigation.html">Navigation</a>
            </li>
            <li class="list-item">
              <a href="/components/snackbar/snackbar.html">Snackbar</a>
            </li>
               
            </ul>
            </div>
            
        </aside>

        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Model</span> 
                </div>
                <div class="about-component">
                    <p class="about">Modals are refer to any box that pops up and interrupts an action, user is attempting to complete.</p>
                </div>
            </div>
           
            <div class="type-wrapper">
                
                <img class="code-Ss" src="../../images/model.png" alt="code-shot">
            </div>
            <div class="types-container">
                <div class="model-container">
                    <div class="model-header">
                     <div class="model-title">Card Title</div>
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="model-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    <div class="response-btn">
                      <button class="btn close-btn">Close</button>
                      <button class="btn save-btn">Save changes</button>
                      
                    </div>
                    
                  </div>
                


            </div>
</body>
</html>