@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&family=Shippori+Antique&display=swap');


:root{
    --primary-color:#456568;
    --secondary-color:whitesmoke;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.nav-container{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.branding{
    display: flex;
    align-items: center;
    /* gap:1rem; */
    margin-left: 2rem;
    padding: 1rem;
    
}
.brand_image{
    width: 3.5rem;
    height: 3.5rem;
}

.brand_name{
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
}
.navbar{
    margin-left: auto;
}

.nav-items{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.item-1{
    margin-right: 3rem;
}

.doc{
    color: var(--secondary-color);
}

.github-icon{
    color: var(--secondary-color);
    font-size: 2rem;
}

/* SIDE-BAR */
.wrapper{
    display: flex;
    
}
.sidebar-container{ 
    width:25%;
    color:#393E46;
}

.sidebar-title{
    font-size: 1.3rem;     
    margin:1.5rem;
    text-transform: uppercase;
}

.sidebar-items{
    padding-left: 2rem;
}

.sidebar-items .list-item{
    padding-bottom: 1.3rem;
}

/* COMPONENT AVATAR SECTION */

.title-wrapper .title{
    font-size: 2.5rem;
    
}

.about{
    margin-top:0.8rem;
    margin-bottom: 1.5rem;
}

.type-title{
    font-size: 1.6rem;
}

.main-container{
    margin:1.5rem;
}
.types-container{
   
  /* display: flex; */
}
.types-container .round-avatar{
    width: 8rem;
    border-radius:50%;
    margin-right:1rem;
}

.types-container .lg-avatar{
    width:6rem;
}

.types-container .sm-avatar{
    width:4rem;
}

.types-container .xs-avatar{
    width:2rem;
}

/* SQUARE AVATARS */

.square-wrapper{
    margin-top: 3rem;
}
.types-container .square-avatar{
    width: 8rem;
    border-radius:8px;
    margin-right:1rem;
}

.types-container .lg-avatar{
    width:6rem;
}

.types-container .sm-avatar{
    width:4rem;
}

.types-container .xs-avatar{
    width:2rem;
}

