<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../slider/slider.css" />
    <title>Netra UI | Slider</title>
  </head>
  <body>
    <header class="nav-container">
      <div class="branding">
        <a href="index.html"
          ><img
            class="brand_image"
            src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png"
            alt="brand-image"
        /></a>
        <span class="brand_name">NETRA UI</span>
      </div>
      <nav class="navbar">
        <ul class="nav-items">
          <!-- <li><a href="">Home</a></li> -->
          <li class="list-items item-1">
            <a href="/components/alert/alerts.html" class="doc">Documentation</a>
          </li>
          <li class="list-items item-2">
            <a href="https://github.com/Samarth-5109/Component-library-netra"><i class="fab fa-github github-icon"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="wrapper">
      <aside class="sidebar-container">
        <div class="sidebar">
          <p class="sidebar-title">component list</p>
          <ul class="sidebar-items">
            <li class="list-item"><a href="/components/alert/alerts.html">Alerts</a></li>
            <li class="list-item"><a href="/components/avatar/avatar.html">Avatars</a></li>
            <li class="list-item"><a href="/components/badges/badges.html">Badges</a></li>
            <li class="list-item"><a href="/components/buttons/button.html">Buttons</a></li>
            <li class="list-item"><a href="/components/cards/cards.html">Cards</a></li>
            <li class="list-item"><a href="/components/images/images.html">Image</a></li>
            <li class="list-item"><a href="/components/inputs/inputs.html">Inputs</a></li>
            <li class="list-item"><a href="/components/model/modal.html">Modal</a></li>
            <li class="list-item"><a href="/components/navigation/navigation.html">Navigation</a></li>
            <li class="list-item"><a href="/components/snackbar/snackbar.html">Snackbar</a></li>
            <li class="list-item"><a href="/components/TextUtilities/textUtilities.html">Text Utilities</a></li>
            <li class="list-item"><a href="/components/lists/lists.html">Lists</a></li>
            <li class="list-item"><a href="/components/rating/rating.html">Ratings</a></li>
            <li class="list-item"><a href="/components/rating/rating.html">Grid</a></li>
            <li class="list-item"><a href="/components/rating/rating.html">Slider</a></li>
          </ul>
        </div>
      </aside>
    
        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Slider</span> 
                </div>
                <div class="about-component">
                    <p class="about">
                        Netra UI provides a simple slider component.
                    </p>
                </div>
                
            </div>
            <div class="types-container">
                <div class="container">
                   <div class="box">
                    <div class="slider">
                        <input type="range" min="0" max="100" value="20">
                    </div>
                    <div class="value">100</div>
                   </div>
                </div>
                <img class="code-Ss" src="../../images/slider.png" alt="code-shot">
               
            </div>
            
    </section>
    <script src="slider.js"></script>
  </body>
</html>
