<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../cards/cards.css">
    <title>Netra UI | Cards</title>
</head>
<body>
    <header class="nav-container">
        <div class="branding">
           <a href="index.html"><img class="brand_image"src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png" alt="brand-image"></a> 
            <span class="brand_name">NETRA UI</span>
        </div>
        <nav class="navbar">
            <ul class="nav-items">
                <!-- <li><a href="">Home</a></li> -->
                <li class="list-items item-1"><a href="/components/alert/alerts.html" class="doc">Documentation</a></li>
                <li class="list-items item-2"><a href="https://github.com/Samarth-5109/Component-library-netra"><i class="fab fa-github github-icon"></i></a></li>
            </ul>
        </nav>
    </header>
    <section class="wrapper">
        <aside class="sidebar-container">
            <div class="sidebar">
                <p class="sidebar-title">component list</p>
            <ul class="sidebar-items">
                <li class="list-item"><a href="/components/alert/alerts.html">Alerts</a></li>
                <li class="list-item"><a href="/components/avatar/avatar.html">Avatars</a></li>
                <li class="list-item"><a href="/components/badges/badges.html">Badges</a></li>
                <li class="list-item"><a href="/components/buttons/button.html">Buttons</a></li>
                <li class="list-item"><a href="/components/cards/cards.html">Cards</a></li>
                <li class="list-item"><a href="/components/images/images.html">Image</a></li>
                <li class="list-item"><a href="/components/inputs/inputs.html">Inputs</a></li>
                <li class="list-item"><a href="/components/model/modal.html">Modal</a></li>
                <li class="list-item"><a href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="list-item"><a href="/components/snackbar/snackbar.html">Snackbar</a></li>
            </ul>
            </div>
            
        </aside>

        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Cards</span> 
                </div>
                <div class="about-component">
                    <p class="about">Card are used to show user related data collectively, like product details.</p>
                </div>
            </div>
           
            <div class="type-wrapper">
                <div class="component-type">
                    <span class="type-title"> Vertical Card</span>
                </div> 
                <div class="about-type">
                    <!-- <p class="about">Use the class <span class="required">required-field</span>  if you want the field to be mandatory, with required attribute in the input tag. </p>  -->
                </div>
                <img class="code-Ss" src="../../images/verticalCard.png" alt="code-shot">
            </div>
            <div class="types-container">
                <div class="basic-card">
                    <img src="https://m.media-amazon.com/images/I/718FX4+xmCL._AC_SS450_.jpg" alt="">
                    
                     <div class="card-title">
                         <h3 class="title">Castrol</h3>
                         <p class="author"> by Kurt Wagner</p>
                     </div>
                     <div class="content">Castrol POWER1 4T 10W-30 API SL Synthetic Engine Oil for Bikes (900ml) </div>
                     <div class="price-container">
                        <span class="price"><i class="fal fa-rupee-sign"></i>399</span>
                      </div>
                     <footer>
                         
                             <button class="action-btn">Buy Now</button>
                             <button class="action-btn">Add to Cart</button>
                         
                        
                         <i class="far fa-heart card-icons"></i>
                         <i class="fas fa-share-alt  card-icons"></i>
                        <i class="fas fa-ellipsis-v card-icons"></i>
                         
                         
                     </footer>
                    
                 
                 </div>
                
            </div>

            <div class="type-wrapper btn-wrapper">
                <div class="component-type">
                    <span class="type-title"> Horizontal Card </span>
                </div> 
                <!-- <div class="about-type">
                    <p class="about">There are multiple sizes for square avatars as well. </p> 
                </div> -->
                <img class="code-Ss"src="../../images/horizontalCard.png" alt="code-shot">
            </div>
            <div class="types-container">
                <div class="basic-card horizontalCard">
                    <img class="horizontalImage" src="https://m.media-amazon.com/images/I/718FX4+xmCL._AC_SS450_.jpg" alt="">
                    
                     <div class="card-title horizontalTitle">
                         <h3 class="title ">Castrol</h3>
                         <p class="author"> by Kurt Wagner</p>
                     </div>
                      
                     <!-- <div class="content horizontalContent">Castrol POWER1 4T 10W-30 API SL Synthetic Engine Oil for Bikes (900ml) </div> -->
                      
                     <footer>
                         
                             <button class="action-btn">Buy Now</button>
                             <button class="action-btn cart-btn">Add to Cart</button>
                         
                        
                     <i class="far fa-heart card-icons"></i>
                     <i class="fas fa-share-alt  card-icons"></i>
                     <i class="fas fa-ellipsis-v card-icons"></i>
                        
                         
                     </footer>
                    
                 
                 </div>
                
            </div>

            <div class="type-wrapper btn-wrapper">
                <div class="component-type">
                    <span class="type-title"> Badges on Card </span>
                </div> 
                <!-- <div class="about-type">
                    <p class="about">There are multiple sizes for square avatars as well. </p> 
                </div> -->
                <img class="code-Ss"src="../../images/badgeOnCard.png" alt="code-shot">
            </div>
            <div class="types-container">
                <div class="basic-card">
                    <img src="https://m.media-amazon.com/images/I/718FX4+xmCL._AC_SS450_.jpg" alt="">
                    
                     <div class="card-title">
                         <h3 class="title">Castrol</h3>
                         <p class="author"> by Kurt Wagner</p>
                     </div>
                     <div class="content">Castrol POWER1 4T 10W-30 API SL Synthetic Engine Oil for Bikes (900ml) </div>
                    <div class="price-container">
                      <span class="price"><i class="fal fa-rupee-sign"></i>399</span>
                    </div>
                     <footer>
                         
                             <button class="action-btn">Buy Now</button>
                             <button class="action-btn">Add to Cart</button>
                         
                        
                         <i class="far fa-heart card-icons"></i>
                         <i class="fas fa-share-alt  card-icons"></i>
                         <i class="fas fa-ellipsis-v card-icons"></i>
                         
                         
                     </footer>
                    
                 <div class="card-badge">Bestseller</div>
                 </div>


                 <div class="type-wrapper btn-wrapper">
                    <div class="component-type">
                        <span class="type-title"> Dismiss Icon on Card </span>
                    </div> 
                    <!-- <div class="about-type">
                        <p class="about">There are multiple sizes for square avatars as well. </p> 
                    </div> -->
                    <img class="code-Ss"src="../../images/dismissIcon.png" alt="code-shot">
                </div>
                <div class="types-container">
                    <div class="basic-card">
                        <img src="https://m.media-amazon.com/images/I/718FX4+xmCL._AC_SS450_.jpg" alt="">
                        
                         <div class="card-title">
                             <h3 class="title">Castrol</h3>
                             <p class="author"> by Kurt Wagner</p>
                         </div>
                         <div class="content">Castrol POWER1 4T 10W-30 API SL Synthetic Engine Oil for Bikes (900ml) </div>
                        <div class="price-container">
                          <span class="price"><i class="fal fa-rupee-sign"></i>399</span>
                        </div>
                         <footer>
                             
                                 <button class="action-btn">Buy Now</button>
                                 <button class="action-btn">Add to Cart</button>
                             
                            
                             <i class="far fa-heart card-icons"></i>
                             <i class="fas fa-share-alt  card-icons"></i>
                             <i class="fas fa-ellipsis-v card-icons"></i>
                             
                             
                         </footer>
                        
                     <div class="card-cross-icon"><i class="far fa-times-circle"></i></div>
                     </div>


                     <div class="type-wrapper btn-wrapper">
                        <div class="component-type">
                            <span class="type-title"> Card with text overlay </span>
                        </div> 
                        <!-- <div class="about-type">
                            <p class="about">There are multiple sizes for square avatars as well. </p> 
                        </div> -->
                        <img class="code-Ss"src="../../images/textOverlay.png" alt="code-shot">
                    </div>
                    <div class="types-container">
                        <div class="basic-card text-over-card">
                            <img src="https://m.media-amazon.com/images/I/718FX4+xmCL._AC_SS450_.jpg" alt="">
                            
                             <div class="card-title title-over-media">
                                 <h3 class="title card2-title">Castrol</h3>
                                 <p class="autho card2-author">by Kurt Wagner</p>
                             </div>
                             <div class="content card2-content">Visit ten places on our planet that are undergoing the biggest changes today. </div>
                   <div class="price-container">
                              <span class="price"><i class="fal fa-rupee-sign"></i>399</span>
                            </div>
                             <footer>
                                 
                                     <button class="action-btn">READ</button>
                                     <button class="action-btn">BOOKMARK</button>
                                 
                                
                                 <i class="far fa-heart card-icons"></i>
                                 <i class="fas fa-share-alt  card-icons"></i>
                                 <i class="fas fa-ellipsis-v card-icons"></i>
                                
                                 
                             </footer>
                            
                         
                         </div>

                         <div class="type-wrapper btn-wrapper">
                            <div class="component-type">
                                <span class="type-title"> Card with text only </span>
                            </div> 
                            <!-- <div class="about-type">
                                <p class="about">There are multiple sizes for square avatars as well. </p> 
                            </div> -->
                            <img class="code-Ss"src="../../images/textOnly.png" alt="code-shot">
                        </div>
                        <div class="types-container">
                            <div class="basic-card">
                                            
                                             <div class="card-title">
                                                 <h3 class="title">Castrol</h3>
                                                 <p class="author"> by Kurt Wagner</p>
                                             </div>
                                             <div class="content"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </div>
                                            
                                            
                                         
                                         </div>
                                
                             
                             </div>


                         

            
</body>
</html>