<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../lists/lists.css" />
    <title>Netra UI | Lists</title>
  </head>
  <body>
    <header class="nav-container">
      <div class="branding">
        <a href="index.html"
          ><img
            class="brand_image"
            src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png"
            alt="brand-image"
        /></a>
        <span class="brand_name">NETRA UI</span>
      </div>
      <nav class="navbar">
        <ul class="nav-items">
          <!-- <li><a href="">Home</a></li> -->
          <li class="list-items item-1">
            <a href="/components/alert/alerts.html" class="doc">Documentation</a>
          </li>
          <li class="list-items item-2">
            <a href="https://github.com/Samarth-5109/Component-library-netra"><i class="fab fa-github github-icon"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="wrapper">
      <aside class="sidebar-container">
        <div class="sidebar">
          <p class="sidebar-title">component list</p>
          <ul class="sidebar-items">
            <li class="list-item"><a href="/components/alert/alerts.html">Alerts</a></li>
            <li class="list-item"><a href="/components/avatar/avatar.html">Avatars</a></li>
            <li class="list-item"><a href="/components/badges/badges.html">Badges</a></li>
            <li class="list-item"><a href="/components/buttons/button.html">Buttons</a></li>
            <li class="list-item"><a href="/components/cards/cards.html">Cards</a></li>
            <li class="list-item"><a href="/components/images/images.html">Image</a></li>
            <li class="list-item"><a href="/components/inputs/inputs.html">Inputs</a></li>
            <li class="list-item"><a href="/components/model/modal.html">Modal</a></li>
            <li class="list-item"><a href="/components/navigation/navigation.html">Navigation</a></li>
            <li class="list-item"><a href="/components/snackbar/snackbar.html">Snackbar</a></li>
            <li class="list-item"><a href="/components/TextUtilities/textUtilities.html">Text Utilities</a></li>
            <li class="list-item"><a href="/components/lists/lists.html">Lists</a></li>
          </ul>
        </div>
      </aside>
    
        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Lists</span> 
                </div>
                <div class="about-component">
                    <p class="about">
                        Lists are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within.
                    </p>
                </div>
            </div>
           
            <div class="type-wrapper">
                <div class="component-type">
                    <span class="type-title"> Normal List</span>
                </div> 
                <div class="about-type">
                    <p class="about">All HTML headings, h1 to h6, are available. </p> 
        
                </div>
                
                
            </div>
            <div class="types-container">
                <div class="container">
                    <div class="list-type">
                        <ul class=" unordered-list">
                            <li> Item 1</li>
                            <li> Item 2</li>
                            <li> Item 3</li>
                            <li> Item 4</li>
                            <li> Item 5</li>

                        </ul>

                        <ol class="ordered-list">
                            <li> Item 1</li>
                            <li> Item 2</li>
                            <li> Item 3</li>
                            <li> Item 4</li>
                            <li> Item 5</li>
                        </ol>

                        <ul class=" unordered-list disc-type">
                            <li> Item 1</li>
                            <li> Item 2</li>
                            <li> Item 3</li>
                            <li> Item 4</li>
                            <li> Item 5</li>

                        </ul>

                        <ul class=" unordered-list square-type">
                            <li> Item 1</li>
                            <li> Item 2</li>
                            <li> Item 3</li>
                            <li> Item 4</li>
                            <li> Item 5</li>

                        </ul>
                    </div>
                </div>
                <img class="code-Ss" src="../../images/normal-list.png" alt="code-shot">
 
            </div>
        
            <div class="type-wrapper btn-wrapper">
                <div class="component-type">
                    <span class="type-title"> Stacked List</span>
                    
                </div> 
    
                
            </div>
            <div class="types-container">
                
                    <ul class="stacked-list">
                        <li><img class="notification-avatar"src="/images/Super-Mario-Avatar.jpg" alt=""><span>Mario followed you</span></li>
                        <li><img class="notification-avatar"src="/images/Super-Mario-Avatar.jpg" alt=""><span>Mario followed you</span></li>
                        <li><img class="notification-avatar"src="/images/Super-Mario-Avatar.jpg" alt=""><span>Mario followed you</span></li>
                        <li><img class="notification-avatar"src="/images/Super-Mario-Avatar.jpg" alt=""><span>Mario followed you</span></li>
                        <li><img class="notification-avatar"src="/images/Super-Mario-Avatar.jpg" alt=""><span>Mario followed you</span></li>
        
                    </ul>
            
               
               
            </div>
            <img class="code-Ss" src="../../images/stackedList.png" alt="code-shot">
            
    </section>
  </body>
</html>
