<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../snackbar/snackbar.css" />
    <title>Netra UI | Snackbar</title>
  </head>
  <body>
    <header class="nav-container">
      <div class="branding">
        <a href="index.html"
          ><img
            class="brand_image"
            src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png"
            alt="brand-image"
        /></a>
        <span class="brand_name">NETRA UI</span>
      </div>
      <nav class="navbar">
        <ul class="nav-items">
          <!-- <li><a href="">Home</a></li> -->
          <li class="list-items item-1">
            <a href="/components/alert/alerts.html" class="doc">Documentation</a>
          </li>
          <li class="list-items item-2">
            <a href="https://github.com/Samarth-5109/Component-library-netra"><i class="fab fa-github github-icon"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="wrapper">
      <aside class="sidebar-container">
        <div class="sidebar">
          <p class="sidebar-title">component list</p>
          <ul class="sidebar-items">
            <li class="list-item"><a href="/components/alert/alerts.html">Alerts</a></li>
            <li class="list-item"><a href="/components/avatar/avatar.html">Avatars</a></li>
            <li class="list-item"><a href="/components/badges/badges.html">Badges</a></li>
            <li class="list-item"><a href="/components/buttons/button.html">Buttons</a></li>
            <li class="list-item"><a href="/components/cards/cards.html">Cards</a></li>
            <li class="list-item"><a href="/components/images/images.html">Image</a></li>
            <li class="list-item"><a href="/components/inputs/inputs.html">Inputs</a></li>
            <li class="list-item"><a href="/components/model/modal.html">Modal</a></li>
            <li class="list-item"><a href="/components/navigation/navigation.html">Navigation</a></li>
            <li class="list-item"><a href="/components/snackbar/snackbar.html">Snackbar</a></li>
          </ul>
        </div>
      </aside>
    
        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Snackbar</span> 
                </div>
                <div class="about-component">
                    <p class="about">Snackbars inform users of a process that an app has performed or will perform. They appear temporarily, towards the bottom of the screen. They shouldn’t interrupt the user experience, and they don’t require user input to disappear.

                    </p>
                </div>
            </div>
           
            <div class="type-wrapper">
                <div class="component-type">
                    <span class="type-title"> Simple Snackbar</span>
                </div> 
                <div class="about-type">
                    <p class="about">Demo of simple snackbar is show below. </p> 
                </div>
                <img class="code-Ss" src="../../images/simpleSnackbar.png" alt="code-shot">
            </div>
            <div class="types-container">
                <div class="container">
                    <div class="snackbar">
                      <div class="message">Can't send photo. Retry in 5 seconds. <span class="retry">RETRY</span><i class="fas fa-times cancel-icon"></i></div>
                    </div>
                </div>
                

            </div>

            <div class="type-wrapper btn-wrapper">
                <div class="component-type">
                    <span class="type-title"> Stacked Snackbar</span>
                </div> 
                <!-- <div class="about-type">
                    <p class="about">There are multiple sizes for square avatars as well. </p> 
                </div> -->
                <img class="code-Ss"src="../../images/stackedSnackbar.png" alt="code-shot">
            </div>
            <div class="types-container">
                <div class="container-2">
                    <div class="stackedBar">
                        This item already has the label "travel". You can add a new label.
                    </div>
                    <div class="labelclass">
                      <span class="retry retryStacked">RETRY</span><i class="fas fa-times cancelStacked"></i>  
                    </div>
                </div>    
            </div>
    </section>
  </body>
</html>
