<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../TextUtilities/textUtilities.css" />
    <title>Netra UI | Text Utilities</title>
  </head>
  <body>
    <header class="nav-container">
      <div class="branding">
        <a href="index.html"
          ><img
            class="brand_image"
            src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png"
            alt="brand-image"
        /></a>
        <span class="brand_name">NETRA UI</span>
      </div>
      <nav class="navbar">
        <ul class="nav-items">
          <!-- <li><a href="">Home</a></li> -->
          <li class="list-items item-1">
            <a href="/components/alert/alerts.html" class="doc">Documentation</a>
          </li>
          <li class="list-items item-2">
            <a href="https://github.com/Samarth-5109/Component-library-netra"><i class="fab fa-github github-icon"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="wrapper">
      <aside class="sidebar-container">
        <div class="sidebar">
          <p class="sidebar-title">component list</p>
          <ul class="sidebar-items">
            <li class="list-item"><a href="/components/alert/alerts.html">Alerts</a></li>
            <li class="list-item"><a href="/components/avatar/avatar.html">Avatars</a></li>
            <li class="list-item"><a href="/components/badges/badges.html">Badges</a></li>
            <li class="list-item"><a href="/components/buttons/button.html">Buttons</a></li>
            <li class="list-item"><a href="/components/cards/cards.html">Cards</a></li>
            <li class="list-item"><a href="/components/images/images.html">Image</a></li>
            <li class="list-item"><a href="/components/inputs/inputs.html">Inputs</a></li>
            <li class="list-item"><a href="/components/model/modal.html">Modal</a></li>
            <li class="list-item"><a href="/components/navigation/navigation.html">Navigation</a></li>
            <li class="list-item"><a href="/components/snackbar/snackbar.html">Snackbar</a></li>
            <li class="list-item"><a href="/components/TextUtilities/textUtilities.html">Text Utilities</a></li>
          </ul>
        </div>
      </aside>
    
        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Text Utilities</span> 
                </div>
                <div class="about-component">
                    <p class="about">Netra UI text utilities are a group of text modifiers which includes headings, small text, gray text, center t

                    </p>
                </div>
            </div>
           
            <div class="type-wrapper">
                <div class="component-type">
                    <span class="type-title"> Headings</span>
                </div> 
                <div class="about-type">
                    <p class="about">All HTML headings, h1 to h6, are available. </p> 
        
                </div>
                
                
            </div>
            <div class="types-container">
                <div class="container">
                    <div>
                        <h1 class="textUtilitiesH1">H1 Heading</h1>
                        <h2>H2 Heading</h2>
                        <h3>H3 Heading</h3>
                        <h4>H4 Heading</h4>    
                        <h5>H5 Heading</h5>
                        <h6>H6 Heading</h6>
                    </div>
                </div>
                <img class="code-Ss" src="../../images/headings.png" alt="code-shot">
 
            </div>
            <div class="about-type">
                <p class="about">h1 through h6 classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element. </p> 
    
            </div>
            <div class="types-container">
              <div class="container">
                  <div>
                    <p class="h1">H1 Headings</p>
                    <p class="h2">H2 Headings</p>
                    <p class="h3">H3 Headings</p>    
                    <p class="h4">H4 Headings</p>
                    <p class="h5">H5 Headings</p>
                    <p class="h6">H6 headings</p>
                  </div>
              </div>
              <img class="code-Ss" src="../../images/headingWClass.png" alt="code-shot">

          </div>
            <div class="type-wrapper btn-wrapper">
                <div class="component-type">
                    <span class="type-title"> Text Size</span>
                    <div class="about-type">
                        <p class="about">Different Sizes of Text are available, you can use class such as text-xs, text-s, text-m, text-l, text-xl. </p> 
            
                    </div>
                </div> 
    
                
            </div>
            <div class="types-container">
                <p class="text-xs">Extra Small Text</p>
                <p class="text-s">Small Text</p>
                <p class="text-m">Medium Text</p>          
                <p class="text-l">Large Text</p>
                <p class="text-xl">Extra Large Text</p>
               
            </div>
            <img class="code-Ss" src="../../images/textSize.png" alt="code-shot">
            <div class="type-wrapper btn-wrapper">
                <div class="component-type">
                    <span class="type-title"> Text Center</span>
                    <div class="about-type">
                        <p class="about">you can Align your text at center using text-center classe </p> 
                    </div>
                </div> 
                
            </div>
            <div class="types-container">
                <p class="center-text">Text at center of the container</p>
                </div>    
            </div>
            <img class="code-Ss" src="../../images/centerText.png" alt="code-shot">

            <div class="type-wrapper btn-wrapper">
              <div class="component-type">
                  <span class="type-title">Text Decoration</span>
                  <div class="about-type">
                      <p class="about">you can have decorative text using such as grey text using Class .text-gray mark text using class .mark and line through text using .line-through class </p> 
                  </div>
              </div> 
              
          </div>
          <div class="types-container">
              <div class="center-text">
              <p class="text-gray">Grey Text</p>
              <p>This is a <span class="mark">Mark</span> Text Example</p>      
              <p class="line-through">This is a line-through Text Example</p>
              </div>
                  
          </div>
          <img class="code-Ss" src="../../images/textDecoration.png" alt="code-shot">
    </section>
  </body>
</html>
