@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&family=Shippori+Antique&display=swap");
@import url("../../styles/doc.css");

.btn-wrapper {
  margin-top: 3rem;
}

.input-form {
  /* background-color: aqua; */
}

.required-field label::after {
  content: "*";
  color: red;
}
.email-input,
textarea {
  border-radius: 5px;
  width: 45rem;
  border: 2px solid #dfdfdf;
  margin-bottom: 15px;
  padding: 10px;
}

.required {
  color: var(--primary-color);
  font-weight: bold;
}

.success {
  border: 2px solid green;
}

.failure {
  border: 2px solid red;
}
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px;
  border-radius: 5px;
  /* margin:1rem; */
}
