<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../alert/alerts.css">
    
    <title>Netra UI | Alerts</title>
</head>
<body>
    <header class="nav-container">
        <div class="branding">
           <a href="index.html"><img class="brand_image"src="https://cdn-0.emojis.wiki/emoji-pics/google/nazar-amulet-google.png" alt="brand-image"></a> 
            <span class="brand_name">NETRA UI</span>
        </div>
        <nav class="navbar">
            <ul class="nav-items">
                <!-- <li><a href="">Home</a></li> -->
                <li class="list-items item-1"><a href="" class="doc">Documentation</a></li>
                <li class="list-items item-2"><a href=""><i class="fab fa-github github-icon"></i></a></li>
            </ul>
        </nav>
    </header>
    <section class="wrapper">
        <aside class="sidebar-container">
            <div class="sidebar">
                <p class="sidebar-title">component list</p>
            <ul class="sidebar-items">
                <li class="list-item"><a href="alerts.html"></a>Alerts</li>
                <li class="list-item"><a href=""></a>Avatars</li>
                <li class="list-item"><a href=""></a>Badges</li>
                <li class="list-item"><a href=""></a>Buttons</li>
                <li class="list-item"><a href=""></a>Cards</li>
                <li class="list-item"><a href=""></a>Image</li>
                <li class="list-item"><a href=""></a>Inputs</li>
                <li class="list-item"><a href=""></a>Lists</li>
                <li class="list-item"><a href=""></a>Navigation</li>
                <li class="list-item"><a href=""></a>Slider</li>
                <li class="list-item"><a href=""></a>Toast</li>
               
            </ul>
            </div>
            
        </aside>
    
        <section class="main-container">
            <div class="title-wrapper">
                <div class="component-title">
                    <span class="title">Alerts</span> 
                </div>
                <div class="about-component">
                    <p class="about">Alerts communicate short, important information to the user, without interrupting their flow. Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
                </div>
            </div>
           
            <div class="type-wrapper">
                <div class="component-type">
                    <span class="type-title"> Simple Alerts</span>
                </div> 
                <div class="about-type">
                    <p class="about">Alerts are available in 5 types- success alert, error alert, warning alert, primary alert, secondary alert.</p> 
                </div>
            </div>
            

            <div class="types-container">
                
                <div class="alert alert-success">
                    <strong>Success!</strong> Indicates a successful or positive action.
                  </div>
                  
                  <div class="alert alert-info">
                    <strong>Info!</strong> Indicates a neutral informative change or action.
                  </div>
                  
                  <div class="alert alert-warning">
                    <strong>Warning!</strong> Indicates a warning that might need attention.
                  </div>
                  
                  <div class="alert alert-danger">
                    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                  </div>
            </div>
            
            
        </section>
    </section>
    
</body>
</html>